.DS_Store
Project/CS196/Intermediate/CachedAssetRegistry.bin
Project/CS196/Saved/AutoScreenshot.png
Project/CS196/Saved/Config/Windows/EditorPerProjectUserSettings.ini
Project/CS196/Saved/Logs/CS196.log
*.log
